In [120]:
import json
import numpy as np
import pandas as pd
pd.options.display.max_columns = None
import matplotlib.pyplot as plt

In [121]:
def check_avg(df_, season, team, stats = ['AST']):
    avg_stats = ['AVG_'+stat for stat in stats]
    df = df_.loc[(df_['SEASON_ID'] == season)& (df_['TEAM_ABBREVIATION'] == team)].sort_values('GAME_DATE')
    avg = df[stats].expanding().mean().shift(1)
    diff = df[avg_stats].values - avg[stats].values
    return(np.max(diff[1:]), np.min(diff[1:]))

In [309]:
STATS = ['PTS', 'FG2M', 'FG2A', 'FG2_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'DREB', 'OREB', 'AST', 'STL', 'BLK', 'TOV', 'PF']
AVG_STATS = ['AVG_'+stat for stat in STATS]
OPP_AVG_STATS = ['OPP_'+stat for stat in AVG_STATS]

In [315]:
df = pd.read_csv('dat/1983-2017.csv', index_col=0).sort_values(['SEASON_ID', 'TEAM_ID', 'GAME_DATE'])
df = df.set_index('GAME_ID')
df['FG3A'] = df['FG3A'].fillna(0)
df.loc[df['FG3A']==0, ['FG3M', 'FG3_PCT']] = 0
df['FG2M'] = df['FGM'] - df['FG3M']
df['FG2A'] = df['FGA'] - df['FG3A']
df['FG2_PCT'] = df['FG2M'] / df['FG2A']
df['PLUS_MINUS'] = df['PTS'] - df['PTS_A']
df = df.reset_index()

In [316]:
for season in df.loc[df[STATS].isna().any(axis=1)]['SEASON_ID'].values:
    df = df.loc[df['SEASON_ID']!=season]

In [317]:
df[STATS].isna().any(axis=0)

PTS        False
FG2M       False
FG2A       False
FG2_PCT    False
FG3M       False
FG3A       False
FG3_PCT    False
FTM        False
FTA        False
FT_PCT     False
DREB       False
OREB       False
AST        False
STL        False
BLK        False
TOV        False
PF         False
dtype: bool

In [319]:
df.sample(10)

,GAME_ID,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,PTS_A,FG2M,FG2A,FG2_PCT,WINS,PTS_AVG,PTS_A_AVG,TOTAL_GAMES,TOTAL_WINS,GP,PYE,PYE_WINS,PYE_WINS_ERROR,PYE_WINS_ERROR_ABS,PYE_PROJ,PYE_PROJ_ERROR,PYE_PROJ_ERROR_ABS,year
43758,20300741,22003,1610612765,DET,Detroit Pistons,2004-02-10,DET @ NJN,L,240,78,30,79,0.380,2,10.0,0.200,16,23,0.696,7.0,28.0,35.0,16,10.0,6.0,15.0,26.0,-11,89,28,69.0,0.405797,33.0,89.396226,86.264151,82,54.0,53,0.621540,32.941637,0.058363,0.058363,51.024669,2.975331,2.975331,2003-04
29867,29700289,21997,1610612742,DAL,Dallas Mavericks,1997-12-11,DAL vs. ORL,L,240,90,31,75,0.413,6,16.0,0.375,22,23,0.957,12.0,24.0,36.0,13,9.0,6.0,12.0,21.0,-10,100,25,59.0,0.423729,5.0,90.550000,98.700000,82,20.0,20,0.231688,4.633767,0.366233,0.366233,19.364679,0.635321,0.635321,1997-98
50278,20600197,22006,1610612756,PHX,Phoenix Suns,2006-11-26,PHX @ POR,W,240,119,46,85,0.541,11,25.0,0.440,16,19,0.842,9.0,32.0,41.0,28,10.0,3.0,12.0,20.0,18,101,35,60.0,0.583333,7.0,106.923077,104.461538,82,61.0,13,0.580292,7.543801,-0.543801,0.543801,47.040176,13.959824,13.959824,2006-07
7613,28700802,21987,1610612737,ATL,Atlanta Hawks,1988-04-01,ATL @ PHL,W,240,105,46,79,0.582,1,1.0,1.000,12,15,0.800,7.0,25.0,32.0,33,13.0,5.0,13.0,28.0,12,93,45,78.0,0.576923,44.0,108.128571,104.214286,82,50.0,70,0.625483,43.783801,0.216199,0.216199,51.505794,-1.505794,1.505794,1987-88
14133,29000385,21990,1610612743,DEN,Denver Nuggets,1991-01-02,DEN @ DET,L,240,107,40,90,0.444,6,15.0,0.400,21,25,0.840,8.0,28.0,36.0,23,9.0,0.0,15.0,24.0,-11,118,34,75.0,0.453333,6.0,125.233333,137.000000,82,20.0,30,0.222847,6.685422,-0.685422,0.685422,17.588065,2.411935,2.411935,1990-91
46064,20400964,22004,1610612764,WAS,Washington Wizards,2005-03-18,WAS @ MIL,L,240,90,34,86,0.395,6,22.0,0.273,16,23,0.696,17.0,26.0,43.0,16,9.0,3.0,11.0,20.0,-9,99,28,64.0,0.437500,35.0,100.587302,100.428571,82,45.0,63,0.505492,31.845979,3.154021,3.154021,44.604343,0.395657,0.395657,2004-05
5614,28500450,21985,1610612765,DET,Detroit Pistons,1986-01-17,DET vs. DEN,W,240,129,50,102,0.490,0,1.0,0.000,29,35,0.829,22.0,35.0,57.0,34,5.0,3.0,19.0,27.0,16,113,50,101.0,0.495050,18.0,115.230769,116.333333,82,46.0,39,0.466933,18.210376,-0.210376,0.210376,38.078106,7.921894,7.921894,1985-86
67798,21300842,22013,1610612765,DET,Detroit Pistons,2014-02-24,DET vs. GSW,L,239,96,40,99,0.404,4,13.0,0.308,12,18,0.667,16.0,29.0,45.0,26,7.0,6.0,8.0,23.0,-8,104,36,86.0,0.418605,23.0,100.649123,103.192982,82,29.0,57,0.414062,23.601519,-0.601519,0.601519,33.351543,-4.351543,4.351543,2013-14
40496,20201023,22002,1610612754,IND,Indiana Pacers,2003-03-26,IND vs. PHI,L,240,85,32,66,0.485,6,16.0,0.375,15,24,0.625,5.0,28.0,33.0,25,7.0,9.0,16.0,23.0,-6,91,26,50.0,0.520000,41.0,96.239437,93.549296,82,48.0,71,0.597331,42.410529,-1.410529,1.410529,47.570645,0.429355,0.429355,2002-03
43010,20300603,22003,1610612756,PHX,Phoenix Suns,2004-01-21,PHX @ DEN,L,240,92,42,95,0.442,2,11.0,0.182,6,9,0.667,18.0,25.0,43.0,24,13.0,6.0,12.0,23.0,-5,97,40,84.0,0.476190,16.0,93.162791,96.418605,82,29.0,43,0.382767,16.458989,-0.458989,0.458989,30.927921,-1.927921,1.927921,2003-04

In [320]:
df[AVG_STATS] = df.sort_values(['SEASON_ID', 'TEAM_ID', 'GAME_DATE']).groupby(['SEASON_ID', 'TEAM_ID'])[STATS].expanding().mean().reset_index((0,1))[STATS]
df[AVG_STATS] = df.sort_values(['SEASON_ID','TEAM_ID', 'GAME_DATE']).groupby(['SEASON_ID', 'TEAM_ID'])[AVG_STATS].shift(1)
df = df.sort_values(['SEASON_ID', 'TEAM_ID', 'GAME_DATE']).set_index('GAME_ID', drop=True)

In [321]:
df.head(10)[['PTS', 'AVG_PTS', 'AST', 'AVG_AST']]

          PTS     AVG_PTS  AST    AVG_AST
GAME_ID
28500005   91         NaN   25        NaN
28500013   91   91.000000   14  25.000000
28500030  102   91.000000   21  19.500000
28500045  105   94.666667   22  20.000000
28500054  114   97.250000   25  20.500000
28500060  113  100.600000   18  21.400000
28500069  114  102.666667   17  20.833333
28500076  119  104.285714   25  20.285714
28500085   97  106.125000   26  20.875000
28500103  108  105.111111   28  21.444444

In [327]:
df['perc_complete'] = (df['GP'].values-1) / df['TOTAL_GAMES']

In [328]:
home = df.loc[~df['MATCHUP'].str.contains('@')].sort_index()
away = df.loc[df['MATCHUP'].str.contains('@')].sort_index()

In [329]:
home['HOME'] = 1
away['HOME'] = 0

In [330]:
opp_headers = ['OPP_'+stat for stat in STATS+AVG_STATS]

In [331]:
away_opp = away.rename(columns={stat: 'OPP_'+stat for stat in STATS+AVG_STATS})
home_opp = home.rename(columns={stat: 'OPP_'+stat for stat in STATS+AVG_STATS})

In [332]:
data = pd.concat([pd.concat([home, away_opp[opp_headers]], axis=1), pd.concat([away, home_opp[opp_headers]], axis=1)])

In [333]:
data['W'] = data['WL'].map({'W': 1, 'L': 0})

In [334]:
with open('dat/locations.json') as f:
    locations = json.loads(f.read())
data['LOCATION'] = data['TEAM_NAME'].map(locations)
data['LOCATION_W_PCT'] = data['LOCATION'].map(data.loc[data['HOME'] == 1].groupby('LOCATION')['W'].mean().to_dict())

In [278]:
data = data.reset_index()

In [337]:
data.sort_values(['SEASON_ID', 'TEAM_ID', 'GAME_DATE']).head()[['GAME_DATE', 'TEAM_ABBREVIATION', 'MATCHUP', 'PTS', 'AVG_PTS', 'OPP_PTS', 'OPP_AVG_PTS']]

,GAME_DATE,TEAM_ABBREVIATION,MATCHUP,PTS,AVG_PTS,OPP_PTS,OPP_AVG_PTS
GAME_ID,,,,,,,
28500005,1985-10-25,ATL,ATL vs. WAS,91,NaN,100,NaN
28500013,1985-10-26,ATL,ATL @ MIL,91,91.000000,117,116.000000
28500030,1985-10-29,ATL,ATL vs. NYK,102,91.000000,87,89.000000
28500045,1985-11-01,ATL,ATL @ BOS,105,94.666667,109,110.333333
28500054,1985-11-02,ATL,ATL vs. PHL,114,97.250000,113,112.500000

*NOTE: OPP_AVG_PTS is not average points scored against, it is AVG_PTS for other team in matchup*

In [339]:
data.to_csv('dat/expanding_avg_1983-2017.csv')